@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
}



body {
    background-image: url('../images/bg-pattern-bottom.svg'), url('../images/bg-pattern-top.svg');
    background-position: left 48vw top 52vh, right 50vw bottom 35vh;
    background-repeat: no-repeat, no-repeat;
    background-size: cover; 
    background-color: hsl(185, 75%, 39%);
    width: 100vw;
    height: auto;

}

.container.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#card {
    width: 31.5rem;
    height: 35.0rem;
    background: white;
    border-radius: 1.0rem;
}

#top-background {
    background-image: url('../images/bg-pattern-card.svg');
    width: inherit;
    height: 35%;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
}

#profile {
    text-align: center;
    position: relative;
    bottom: 5.5rem;
}

#profile img {
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 2.0rem;
}

hr.thin {
    border-bottom: none;
    border-top: 1px solid rgba(187, 187, 187, 0.452);
    width: inherit;
    position: relative;
    bottom: 3.6rem;
}
.data {
    line-height: 2.5rem;
}

.bold {
    font-weight: bolder;
    color: hsl(229, 23%, 23%);
    margin-right: 0.8rem;
}

.gray {
    color: hsl(227, 10%, 46%);
}

.gray.city {
    font-size: 80%;
}

.spacing {
    letter-spacing: 0.1rem;
    font-size: 50%;
}

#user_activities {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 1.0rem;
}

.activities {
    text-align: center;
}

@media screen and (min-width: 376px) {
    #card {
    width: 35.0rem;
    height: 36.5rem;        
    }
}
